html {
  scroll-behavior: smooth;
}

.container {
  @include media-breakpoint-down(sm) {
    padding: 0 2rem;
  }
}

.home-bg {
  /* The image used */
  background-image: url('../img/home-bg.jpg');

  /* Half height */
  height: calc(100vh - 80px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($black, 0.65);
  }

  h1 {
    font-size: 1.5rem;
    .typed {
      font-size: 1.2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 2.2rem;
      .typed {
        font-size: 2rem;
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
      .typed {
        font-size: 3rem;
      }
    }
  }
}

.title {
  font-size: 1.2rem;
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
  }
}

.btn-light {
  color: $input-color;
  border: 1px solid $input-border-color;
}

label {
  margin-top: 1rem;
  font-size: 0.8rem;
}
/*
 * Header
 */
.header {
  border-bottom: 1px solid #e5e5e5;
  background: white;

  nav {
    padding: 0.8rem 0;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 2.5rem;
  font-size: 1rem;

  &.icon {
    font-size: 1.5rem;
  }
}

/*
 * Spacer
 */

.spacer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include media-breakpoint-up(md) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.spacer-top {
  padding-top: 6rem;
  @include media-breakpoint-up(md) {
    padding-top: 8rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 12rem;
  }
}

.spacer-bottom {
  padding-bottom: 6rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 8rem;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 12rem;
  }
}

/*
 * Becoming a Baller
 */

.bg-gray,
.bg-gray-1 {
  background: $gray-100;
}

.bg-gray-2 {
  background: $gray-200;
}

.bg-gray-3 {
  background: $gray-300;
}

.opacity-1 {
  opacity: 1 !important;
}

.subtitle {
  color: $text-color;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.text-blue {
  color: $blue;
}

.circled-number {
  background-color: $blue;
  color: #fff;
  padding: 0.5625rem 0.5625rem;
  font-size: 1.0625rem;
  line-height: 1.3;
  border-radius: 50%;
  & > * {
    display: block;
    line-height: 1;
    width: 1em;
  }
}

.step-header {
  font-size: 1.25rem;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    margin-left: 1.6rem;
    padding-top: 0.5rem;
  }

  &__content {
    @include media-breakpoint-down(sm) {
      margin-left: 1.5rem;
    }
  }
}

.hr--2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  margin-right: -2rem;
  border-top: 1px solid $gray-300;
}

/*
 * Why Invest in Ballers
 */
.icon-image {
  width: 2rem;
  height: 2rem;
  margin-right: 0.6rem;
}

/*
 * Why Ballers is Special
 */
@media (min-width: 992px) {
  .ml--100 {
    margin-left: -100px !important;
    position: relative;
    z-index: 5;
  }
}

.shadow-sm {
  box-shadow: 0 1.5rem 4rem rgba(42, 53, 79, 0.05) !important;
}

.bg-soft {
  background-color: #fefefe !important;
  border: 0.0625rem solid $input-border-color;
  margin-bottom: 1rem !important;
  @include media-breakpoint-up(lg) {
    border: 0.0625rem solid rgba(243, 247, 250, 0.05);
    margin-bottom: 0 !important;
  }
  border-radius: 0.125rem;
  .icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }

  .icon i {
    font-size: 2rem;
    color: $blue;
  }
}

.bg-special-card {
  background-color: #eee !important;
  border: 0.0625rem solid $input-border-color;
  padding: 1rem 2rem 5rem 0.5rem;
  margin-left: 0.5rem !important;

  &:first-child {
    @include media-breakpoint-up(sm) {
      margin-left: 0 !important;
    }
  }

  h5 {
    color: $red-300;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .icon {
    font-size: 2rem;
    color: $blue;
  }
  @include media-breakpoint-up(lg) {
    border: 0.0625rem solid rgba(243, 247, 250, 0.05);
    margin-bottom: 0 !important;
  }
  border-radius: 0.125rem;
  .icon i {
    font-size: 2rem;
  }
}

.border-left {
  @include media-breakpoint-up(lg) {
    border-left: 0.0625rem solid $input-border-color !important;
  }
}

.border-top {
  @include media-breakpoint-up(lg) {
    border-top: 0.0625rem solid $input-border-color !important;
  }
}

/*
 * Join Now
 */
.btn-xl {
  padding: 1.5rem 4rem;
  font-size: 1.4rem;
}

.join-now {
  background-image: url('../img/home-real-estate.jpg');
  background-color: $black;
  color: $white;
  padding: 10rem 0;

  // parallax effect
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h3 {
    color: $white;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: normal;
    small {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }
  }

  &:before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($black, 0.85);
  }
}

.accordion {
  .card {
    background: transparent;
  }

  &-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-panel-header .title {
    font-size: 1rem;
    font-weight: 300;
    color: $text-color;
    margin-right: 1rem;
  }

  &-panel-header .icon {
    font-size: 0.875rem;
    color: $text-color;
  }
}

.google-map {
  width: 100%;
  height: 960px;
  filter: saturate(0);
  @include media-breakpoint-up(lg) {
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  }
  overflow: hidden;
  background: #f2f2f2;

  iframe {
    width: 100%;
    height: 960px;
  }
}

.side-image {
  background-image: url('../img/why-invest-in-ballers.jpg');
  background-size: cover;
  position: relative;
  height: 20rem;
  width: 100%;
  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    height: 40rem;
    width: 40rem;
    position: absolute;
    margin-top: 5rem;
    top: 0;
    right: 0;
    border-radius: 2rem 0 0 2rem;
  }
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -3rem;
  li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $blue;
  }
}

.btn-normal {
  padding: 0.75rem 2rem;
}

h3.special {
  font-size: 1.25rem;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.list-social {
  i {
    font-size: 2rem;
    color: $text-muted;

    &:hover {
      color: $blue;
    }
  }
}

.with-errors {
  color: $red;
  font-size: 0.8rem;
}
