.contact-holding {
    background-image: url('../img/backgrounds/faq-holding.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    height: 25rem;
    width: 100%;

    &-heading {
        @extend %page-heading-font-stack;
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 2rem;
    }
    &-text {
        @extend %big-text-stack;
        text-align: center;
        padding-bottom: 3rem;
    }
}
.contact-hello {
    background-color: $gray-300;
    padding: 5rem 3rem;

    &-heading {
        font-style: 1.92rem;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 2rem;
    }
    &-title {
        @extend %title-font-stack;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &-text {
        @extend %big-text-stack;
        color: $blue;
        font-weight: 600;
        // padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &-form {
        padding: 3rem;
        border-radius: 0.5rem;
        background-color: $white;
        margin: auto;
        box-shadow: 0px 20px 50px rgba(196, 196, 196, 0.2);
        
        .form-control {
            color: $gray-700;;
        }

        form input {
            border-bottom: 1px solid $blue !important;
            border-radius: 0;
        }
    }
    &-btn {
        padding: 0.5rem;
        border-radius: $border-radius;
        width: 100%;
        color: $white;
        background-color: $purple;
        border-color: $purple;
    }
    &-sm-text {
        list-style-type: none;
        list-style: none;
        padding-left: 0;

        &-item a {
            @extend %regular-text-stack;
        }
    }
    &-sm-icon {
        display: none;
    }
}
.contact-address {
    background-color: $gray-300;
    padding: 3rem;

    &-coffee {
        padding-top: 8rem;
        padding-bottom: 3rem;
        padding-right: 4rem;
        text-align: right;
    }
    &-heading {
        @extend %big-text-stack;
        color: $blue;
        font-weight: 600;
        padding-bottom: 2rem;
    }
    &-title {
        @extend %title-font-stack;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &-map {
        margin: auto;
        height: 35rem;
        width: 20rem;
    }
}
@media only screen and (max-width: 1024px) {
    .contact-holding {
        padding-left: 5rem;
        padding-right: 5rem;
        height: 28rem;
    }
    .contact-hello {
        &-form {
            padding: 1.5rem;
        }
        &-text-2 {
            padding-top: 0;
        }
        &-info {
            padding-left: 5rem;
        }
    }
    .contact-address-coffee {
        text-align: center;
    }
}
@media only screen and (max-width: 991.99px) {
    .contact-hello {
        padding: 5rem 0 3rem;
        
        &-info {
            padding-top: 3rem;
        }
        &-heading {
            @extend %heading-font-stack-mobile;
        }
        &-sm-text,
        &-text-2 {
            display: none;
        }
        &-sm-icon {
            display: inline-flex;
            &-item {
                padding-bottom: 1rem;

                .icon {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
    .contact-address,
    .contact-address-coffee {
        padding-top: 0;
    }
}
@media only screen and (max-width: 575.99px) {
    .contact-holding-text,
    .contact-hello-text {
        font-size: 1rem;
    }
    .contact-holding {
        padding-left: 1rem;
        padding-right: 1rem;

        &-heading {
            font-size: 2.5rem;
        }
    }
    .contact-hello {
        padding: 3rem 0 1rem;

        &-info {
            padding-left: 3rem;
        }
        &-heading {
            font-size: 1.7rem;
            padding-bottom: 1rem;
        }
        &-title {
            padding-top: 3rem;
            padding-bottom: 1.5rem;
        }
        &-text {
            font-size: 1rem;
        }
        &-sm-icon {
            padding-left: 0;
        }
    }
    .contact-address {
        padding-top: 0;

        &-heading {
            font-size: 1.3rem;
        }
        &-coffee {
            padding-top: 0;
            padding-right: unset;
            padding-left: unset;
            padding-bottom: unset;
        }
        &-map {
            height: 18rem;
        }
    }
}

