.holding {
    background-image: url('../img/backgrounds/holding.png');
    background-color: $gray-350;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 44rem;
    width: 100%;
    padding-left: 6rem;
    padding-right: 5rem;

    &-inner {
        padding-top: 6rem;
    }
    &-heading {
        padding: 5rem 0 1rem;
        font-size: 4rem;
        color: $blue;
    }
    &-mid {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 1rem 0 1.7rem;
        color: $gray-700;
    }
    &-small {
        font-size: 1rem;
        font-weight: 300;
        padding: 6rem 0 1rem;
        color: $blue;
    }
    &-form {
        background-color: $white;
        padding: 1rem 1rem 0.5rem 0.8rem;
        align-content: center;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.input-group,
.input-group-prepend,
.input-group-text, 
.form-control,
.custom-select {
    border: 0 !important;
}
.input-group {
    width: 35%;

    &-text {
        padding-left: 0;
    }
}
.hold-input {
    width: 12.75rem;
    height: 4rem;
    color: $input-color;

    &::placeholder {
        color: $input-color;
    }
}
.select-grp {
    padding-top: 0.8rem;
}
.input-icon {
    width: 1.8rem;
    height: 1.8rem;
}
.form-search {
    padding: 1.2rem 0;
    border-radius: $border-radius;
    width: 25%;
}
.about {
    padding-left: 3rem;

    &-ball {
        background-color: $gray-300;
        padding: 2rem;
    }
    &-ball-heading {
        @extend %heading-font-stack;
        padding: 2rem 0rem;
    }
    &-ball-title {
        padding-top: 3rem;
    }
    &-ball-text {
        color: $gray-700;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.8rem;
        padding-bottom: 2rem;
    }
}
.about-ball-title,
.benefits-title,
.how-title,
.faq-title,
.gallery-title {
    @extend %title-font-stack;
}
.big-button {
    @extend %button-stack;
}
.home {
    width: 30rem;
    height:34rem;

    &-tab {
        display: none;
    }
}
.benefits {
    background-color: $gray-300;
    padding: 5rem 7rem;
    text-align: center;

    &-heading {
        @extend %heading-font-stack;
        padding-top: 1.5rem;
    }
    &-slider {
        width:100%;
        text-align:center;
    }
}
.arrow {
    width: 1.5rem;
    height: 1.5rem;
}
.prev {
    display: block;
    position: absolute;
    z-index: 1000;
    top:50%;
    transform: translateY(-50%);
}  
.next {
    display: block;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    z-index: 1000;
}
.slide {
    background-color: $white;
    border-radius: 0.3rem;
    margin: 1rem 3rem;
    padding: 4rem 1rem 2rem 1rem;
    height: 23rem;

    &-image {
        width: 5.5rem;
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    &-header {
        color: $purple;
        font-size: 1.2rem;
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &-body {
        color: $gray-700;
        font-weight: 300;
        font-size: 0.8rem;
    }
}
.works {
    padding: 2rem;
}
.phone {
    height: 38rem;
    width: 30rem;

    &-div {
        padding-left: 6rem;
        padding-top: 4rem;
    }
}
.how {
    &-heading {
        @extend %heading-font-stack;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &-head {
        color: $purple;
        font-size: 1.4rem;
        font-weight: 400;
    }
    &-text {
        font-weight: 300;
        font-size: 1rem;
        color: $gray-700;
    }
}
.stage-div {
    padding-right: 1.8rem;
    padding-bottom: 2rem;
}
.bold-letter {
    font-size: 2.5rem;
    font-weight: 700;
}
.circle {
    &-line {
        padding-top: 1.3rem;
    }
    &-line-img {
        height: 8rem;
    }
    &-img {
        height: 1.25rem;
    }
}
.faq {
    padding-top: 3rem;
    padding-left: 6rem;
    padding-bottom: 4rem;

    &-heading {
        @extend %heading-font-stack;
        font-weight: 500;
        color: $blue;
    }
    &-card-heading {
        color: $blue;
        font-size: 1.7rem;
        font-weight: 400;
    }
}
.questions {
    float: right;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 2rem;  
}
.faq-icon {
    float: right;
    font-size: 4rem;
    color: $purple;
    margin-top: -1.8rem;
    font-weight: 300;
}
.card {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-750;
    padding: 3rem 0 1.5rem;
    margin-left: -3rem;

    &-header {
        background-color: $white;
        border: 0;
    }
}
h5 .btn-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: $blue;
}
.gallery {
    background-image: url('../img/backgrounds/deep-dive.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5rem;

    &-heading {
        @extend %heading-font-stack;
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }
}
.break {
    display: inline-block;
}

/* big tablets */
@media only screen and (max-width: 1024px) {
    header,
    .holding,
    .about,
    .phone-div,
    .faq {
        padding-left: 3rem;
    }
    .about-ball-heading {
        br {
            display: none;
        }
    }
    .benefits {
        padding: 3rem;
        height: 40rem;
    }
    .slide {
        width: 13.5rem;
    }
    .prev,
    .next {
        top: 25%;
    }
}

/* medium sized devices ie. tablets */
@media only screen and (max-width: 991.99px) {
    %heading-font-stack-mobile {
        font-size: 2rem;
    }
    %title-font-stack-mobile {
        font-size: 1rem;
    }
    %button-stack-mobile {
        border-radius: 0.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    header {
        padding-left: 0;
        padding-right: 0;
    }
    .about,
    .phone-div,
    .faq {
        padding-left: 1rem;
    }
    .about-ball-title,
    .benefits-title,
    .how-title,
    .faq-title,
    .gallery-title {
        @extend %title-font-stack-mobile;
    }
    .collapse {
        z-index: 100;
    }
    .holding {
        padding-left: 0;
        padding-right: 0;
        background-image: none;
        margin: auto;
        height: 60rem;
        background-image: url('../img/backgrounds/holding-tab.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        &-heading,
        &-mid {
            text-align: center;
        }
        &-heading br,
        &-small {
            display: none;
        }
        &-form {
            margin: auto !important;
        }
    }
    .index-form {
        text-align: center !important;
        margin: auto !important;
        padding: 1rem 5rem;
    }
    .big-button {
        @extend %button-stack-mobile;
    }
    .about {
        padding: 1rem 1.5rem 0;

        &-ball {
            padding: 3.5rem 0 0;
        }
        &-ball-text {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.2rem;
            padding: 1rem 0;
        }
        &-ball-heading {
            @extend %heading-font-stack-mobile;
            padding: 1rem 0 0;
        }
        &-ball-title {
            text-align: center;
        }
    }
    .home {
        display: none;

        &-tab {
            display: block;
            width: 22rem;
            height: 26rem;
        }
    }
    .prev,
    .next {
        top: 50%;
    }
    .how {
        &-heading {
            @extend %heading-font-stack-mobile;
            padding: 1rem 0 0;
        }
        &-title {
            text-align: center;
        }
    }
    .phone {
        height: 25rem;
        width: 18rem;
    
        &-div {
            padding-left: 3rem;
            padding-top: 8rem;
        }
    }
    .stage-div {
        padding-bottom: 0.3rem;
    }
    .faq {
        &-title {
            text-align: center;
        }
    }
    .questions {
        padding-right: 2rem;
    }
}

/* small mobile devices */
@media only screen and (max-width: 575.99px) {
    .about-ball-heading,
    .benefits-heading,
    .how-heading,
    .faq-heading,
    .gallery-heading {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .big-button {
        width: 97%;
    }
    .holding {
        height: 50rem;
        background-image: url('../img/backgrounds/holding-mobile.png');
        
        &-heading {
            padding-top: 0;
        }
        &-form {
            padding: 0 1rem;
        }
    }
    .index-form {
        padding: 1rem 0;
        margin: auto;
        justify-content: center;
    }
    .input-group {
        width: 100%;
    }
    .form-search {
        padding: 0.4rem;
        width: 90%;
    }
    .about {
        padding: 0 3rem;
        &-ball {
            padding-top: 0;
        }
        br {
            display: none;
        }
    }
    .benefits {
        padding: 3rem 1rem;
        height: 35rem;
    }
    .about-ball,
    .home-img {
        justify-content: center;
        text-align: center;
    }
    .home-tab {
        display: block;
        width: 22rem;
        height: 18rem;
        margin: auto;
    }
    .prev,
    .next {
        top: 50%;
    }
    .phone-div {
        padding-left: 1rem;
        padding-top: 4rem;
        justify-content: center;
    }
    .faq {
        &-card-heading {
            font-size: 1.6rem;

            .first {
                padding-top: 1rem;
            }
        }
        &-icon {
            font-size: 2.5rem;
        }
    }
    .how-heading,
    .faq-heading {
        text-align: center;
    }
    .card {
        margin-left: unset;
    }
    .gallery {
        padding: 4rem 2rem;
    }
}
