// Ballers Variables
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap');
$text-font: 'Barlow', sans-serif;
$headings-font: 'Barlow', sans-serif;

// Bootstrap Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #fafafa;
$gray-200: #f2f2f2;
$gray-300: #eff2ff;
$gray-350: #e5e5e5;
$gray-400: #c4c4c4 !default;
$gray-500: #adb5bd !default;
$gray-600: #888; //text-muted
$gray-700: #5a6679 !default;
$gray-750: #51596c;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #161d3f;
$indigo: #150073;
$purple: #5775fa;
$slider-dot-purple: #cbd4ff;
$pink: #e83e8c !default;
$red: #e60100;
$orange: #e66800;
$yellow: #dcb91d;
$green: #00b800;
$teal: #008a8a;
$cyan: #17a2b8 !default;


$primary: #161d3f;
$secondary: #5775fa;
$tertiary: #eff2ff;
$success: $green;
$info: $cyan !default;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $black;

// Body
//
// Settings for the `<body>` element.
$text-color: #5a6679; // 828282
$text-color-secondary: lighten($text-color, 10%);

$body-bg: $white;
$body-color: $text-color;
$headings-color: $blue;

$red-100: #ff5959;
$red-200: #ff2c2c;
$red-300: #b90000;
$red-400: #8f0000;

$orange-100: #ffa459;
$orange-200: #ff8c2c;
$orange-300: #b95400;
$orange-400: #8f4100;

$teal-100: #3ba9a9;
$teal-200: #1b9999;
$teal-300: #006f6f;
$teal-400: #005656;

$green-100: #4ad44a;
$green-200: #23cc23;
$green-300: #009400;
$green-400: #007300;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 2.2;
$line-height-sm: 2;

$border-radius: 0.3rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.3rem;

$transition-base: all 0.4s ease-in-out;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: $text-font;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $headings-font;
// stylelint-enable value-keyword-case

$font-weight-light: 300;
$font-weight-normal: 300;
$font-weight-bold: 500;
$headings-font-weight: 700;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$line-height-base: 1.8;

// Links
//
// Style anchor elements.

$link-color: theme-color('primary') !default;

//
// Spacers
//
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: $spacer,
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  ),
  6: (
    $spacer * 5
  ),
  7: (
    $spacer * 8
  ),
  8: (
    $spacer * 10
  ),
  9: (
    $spacer * 15
  )
);
// Forms
$label-margin-bottom: 0.25rem;

$input-padding-y: 0.8rem;
$input-padding-x: 1rem;
$input-font-family: $text-font;
$input-font-size: 1rem;
$input-font-weight: 300;
$input-color: $gray-400;
$input-border-color: $gray-400;
$input-box-shadow: none;

$input-line-height: 1.8;

$input-focus-color: $input-color;

$input-placeholder-color: $gray-600 !default;
$input-focus-border-color: $input-border-color;
$input-plaintext-color: $body-color !default;
$input-btn-focus-box-shadow: none;

$input-group-addon-bg: transparent;
